[user]
	name = bkegley
	email = hi@bryankegley.me

[credential]
	helper = cache

[core]
  pager = delta
	autocrlf = false

[delta]
  features = side-by-side line-numbers decorations
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Nord
  line-numbers = true

[delta "decorations"]
    commit-decoration-style = bold cyan box ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
